<p class="heading my-2 pb-2 border-bottom d-md-none">Filters</p>
<div class="d-flex flex-column gap-3">
    <div>
        <p class="heading sm mb-2">Categories</p>
        <div class="d-flex gap-2 flex-column">
            <mat-checkbox class="app-checkbox sm">Single Bed</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Double Bed</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">King size bed</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Bed Sheets</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Pillows</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Curtains</mat-checkbox>
        </div>
    </div>
    <!-- <div>
        <p class="heading sm mb-2">Brands</p>
        <div class="d-flex gap-2 flex-column">
            <mat-checkbox class="app-checkbox sm">Save Mart</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Metro</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Green Vally</mat-checkbox>
        </div>
    </div>
    <div class="">
        <p class="heading sm mb-2">Materials</p>
        <div class="d-flex gap-2 flex-column">
            <mat-checkbox class="app-checkbox sm">Plastic</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Glass</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Wood</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Cloth</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Metal</mat-checkbox>
            <mat-checkbox class="app-checkbox sm">Leather</mat-checkbox>
        </div>
    </div> -->
    <div class="">
        <p class="heading mb-2">Colors</p>
        <div class="select-color">
            <p class="text font-m mb-2">Color: <span class="clr-primary font-sb">White</span></p>
            <div class="colors">
                <div>
                    <input type="radio" name="selectcolor" value="color1" id="color1">
                    <label for="color1" style="background: #ADA48F;"></label>
                </div>
                <div>
                    <input type="radio" name="selectcolor" value="color2" id="color2">
                    <label for="color2" style="background: #999DA7;"></label>
                </div>
                <div>
                    <input type="radio" name="selectcolor" value="color3" id="color3">
                    <label for="color3" style="background: #D6DBDD;"></label>
                </div>
            </div>
        </div>
    </div>
</div>