<nav class="navbar navbar-expand-lg app-navbar">
    <div class="container">
      <a class="navbar-brand">
          <p class="heading lg">PQRID</p>
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact Us</a>
            </li>
          </ul>
      </div>
      <ul class="nav-icon">
        <li class="nav-item">
          <a class="nav-link">
            <i class="far fa-heart"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pages/scan-products">
            <i class="fas fa-qrcode"></i>
          </a>
        </li>
      
      </ul>   
    </div>
  </nav>
  <!-- (click)="bottomPanel(true)" -->
  <!-- <div class="bottom-overlay-panel" [ngClass]="{ 'show-bottom-panel': bottompanel }">
    <div class="bottom-panel">
        <div class="bottom-panel-content">
            <div class="bottom-panel-content-header">
                <span></span>
            </div>
            <div class="bottom-panel-content-body">
                <div class="bottom-panel-content-body-scroll">
              
                </div>
                <div class="d-flex flex-nowrap gap-2">
                    <button class="btn btn-secondary flex-grow-1" (click)="bottomPanel(false)">Close Filters</button>
                    <button class="btn btn-theme flex-grow-1">Apply Filters</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" (click)="bottomPanel(false)"></div>
</div> -->