
<!-- <button class="btn btn-theme btn-xl">ZAMAD</button>
<div class="input">
  <label for="">Name</label>
  <input type="text" class="form-control">
</div>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur unde optio tenetur quo porro impedit adipisci eligendi quod, dolores culpa ex quis, officia id distinctio alias asperiores dignissimos ad.</p> -->
<div class="d-flex flex-column h-100">
  <div class="flex-shrink-0">
    <app-header></app-header>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-6">
          <p class="heading lg">PQRID</p>
        </div>
        <div class="col-6 col-md-6">
          <div class="social-icons">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-facebook-f"></i>
            <i class="uil uil-twitter-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
