<div class="app-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-3">
                    <div class="img-container rounded-img s-100 mb-2 m-auto">
                        <img src="../../../../assets/images/inventory-items/item-10.jpg">
                    </div>
                    <p class="heading">Modren Chair</p>
                </div>
                
                <div class="reviews">
                    <div class="reviews-stats d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="heading xl">4.6 / <span class="fs-16">5.0</span></p>
                            <p class="text clr-light fs-12">Based on 120 reviews</p>
                            <div class="rating-stars lg">
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <button class="btn btn-theme-outline">Add Review</button>
                    </div>
                    <div class="review">
                        <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center gap-2">
                                <div class="img-container s-30 rounded-img">
                                    <img src="../../../../assets/images/general/user-avatar.jpg" alt="">
                                </div>
                                <p class="text clr-dark font-sb">Zamad Tahir</p>
                                <p class="text clr-light fs-10">3 days ago</p>
                            </div>
                            <div class="rating-stars">
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <p class="text fs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam et aperiam dolore vero cum veniam obcaecati in enim perspiciatis cumque aliquam dolores tempore totam, officia iusto suscipit alias facere illum.</p>
                    </div>
                    <div class="review">
                        <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center gap-2">
                                <div class="img-container s-30 rounded-img">
                                    <img src="../../../../assets/images/general/user-avatar.jpg" alt="">
                                </div>
                                <p class="text clr-dark font-sb">Shaeel Ahmend</p>
                                <p class="text clr-light fs-10">3 days ago</p>
                            </div>
                            <div class="rating-stars">
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <p class="text fs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam et aperiam dolore vero cum veniam obcaecati in enim perspiciatis cumque aliquam dolores tempore totam, officia iusto suscipit alias facere illum.</p>
                    </div>
                    <div class="review">
                        <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center gap-2">
                                <div class="img-container s-30 rounded-img">
                                    <img src="../../../../assets/images/general/user-avatar.jpg" alt="">
                                </div>
                                <p class="text clr-dark font-sb">Ali Cheema</p>
                                <p class="text clr-light fs-10">3 days ago</p>
                            </div>
                            <div class="rating-stars">
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star fill"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <p class="text fs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam et aperiam dolore vero cum veniam obcaecati in enim perspiciatis cumque aliquam dolores tempore totam, officia iusto suscipit alias facere illum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>