
/********************************/
/**/
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "montserrat-semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-italic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
}
